<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off='ion-load-b' icon-on='ion-load-b' ui-sref='tab.dash'>
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Add Segment -->
  <ion-tab title="Add Segment" icon-off='ion-ios-plus' icon-on='ion-ios-plus' ui-sref='tab.segment'>
    <ion-nav-view name="tab-segment"></ion-nav-view>
  </ion-tab>

  <!-- Share Tab -->
  <ion-tab title="Share" icon-off='ion-android-share-alt' icon-on='ion-android-share-alt' ui-sref='tab.share'>
    <ion-nav-view name="tab-share"></ion-nav-view>
  </ion-tab>

    <ion-tab title='More' icon-off='ion-ios-more' icon-on='ion-ios-more' ui-sref='tab.more'>
        <ion-nav-view name='tab-more'></ion-nav-view>
    </ion-tab>

</ion-tabs>
